<h1>Word Definitions</h1>

<% if @definitions.any? %>
  <ul>
    <% @definitions.each do |definition| %>
    <li><a href="/definitions/<%= definition.id %>"><%= definition.name %></a></li>
  <% end %>
  </ul>

  <% else %>
    <p>There are no definitions to display. Do you want to make a new one?</p>
  <% end %>
<br>
  <h4><a href="/definitions/new">Add a new Defintion</a></h4>