<h1>Create a new definition</h1>

<form action="/definitions" method="post">
  <label name="description">Add a definition</label>
  <input type="text" name="description" class="form-control" required>
  <button type="submit" class="btn">Post message</button>
</form>

<a href="/words">Go back to definitions</a>
