<h1>Create a new word</h1>

<form action="/words" method="post">
  <label name="name">Add a new Word</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" class="btn">Create Word'</button>
</form>

<a href="/boards">Go back to word list</a>