<h2>Word Name: <%= @word.name %></h2>

<h3>Word Definitions</h3>

  <% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |song| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.description %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>


