<h2>Word Name: <%= @word.name %></h2>

<h3>Definitions</h3>

<h4><a href="/words/definitions/new">Enter a new definition</a></h4>


<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<p><a href="/words">Return to board list</a></p>




